<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %} <!--New line-->

{% block title_block %}
{% endblock %}

{% block body_block %}
        <div>
            <p>Rango says here is the about page by Marios</p>
            <img src="{% static 'images/rango.jpg' %}"
                 alt="Picture of Rango" /> <!-- New line-->
            <strong>{{ author }}</strong>
            <img src="{{MEDIA_URL}}cat.jpg"
                alt="Cute cat" />
        </div>
        <p>Site visits: {{ visits }}</p>
{% endblock %}
</html>